.currentTemp {
	font-size: 2rem;
}

.blacknwhite {
  -swebkit-filter: grayscale(100%);
  fislter: grayscale(100%);
}

.weather {
	text-align: right;
}

.trendcell {
	text-align: center;
}

.high-temp {
	color: red;
}

.low-temp {
	color: blue;
}


.logo-container, .logo-container > * {
	vertical-align: middle;
}

.legend-logo {
	height: 0.8em;
}

.inverted {
	filter: invert(100%);
}

.precipitation-logo {
	text-indent: 2.3rem;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.17 28.17'%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cpath class='st0' d='M3.69 13.44c.01.01.01.02.02.02.09.07.2.12.31.12.15 0 .31-.04.41-.17.03-.04.9-1.06 3.06-1.06h.01c2.18 0 3.03 1.02 3.07 1.06.15.18.38.21.59.13.09-.03.16-.08.22-.16.03-.04.61-.88 2.42-1.05v10.04c0 1.98 1.21 2.2 1.72 2.22.03 0 .08-.04.11-.04.01 0 .01.04.01.04 1.29 0 1.83-1.01 1.87-1.73.01-.04 0-.07 0-.1v-.04c.01-.29-.2-.52-.49-.54a.525.525 0 0 0-.55.5c-.01.16-.1.96-.89.96-.17 0-.76-.09-.76-1.48V12.3c1.8.12 2.67 1.04 2.7 1.08.14.18.41.24.62.16.09-.02.17-.06.23-.14.03-.04.9-1.06 3.06-1.06h.01c2.18 0 3.04 1.01 3.08 1.06.17.22.5.22.72.05.11-.08.17-.2.19-.33.03-.11.01-.22-.04-.33-.04-.07-.83-1.73-2.56-3.39-1.55-1.48-4.18-3.27-8.03-3.39V4.74c0-.27-.24-.49-.51-.49s-.51.22-.51.49v1.27c-3.73.15-6.26 1.9-7.79 3.37-1.73 1.66-2.46 3.33-2.49 3.4-.1.23-.03.5.19.66zm1.95-1.98c.32-.41.71-.86 1.18-1.31 2.12-2.02 4.68-3.01 7.61-3.01h.05c2.96 0 5.54 1.01 7.67 3.04.46.44.84.87 1.16 1.27a6.52 6.52 0 0 0-1.84-.24h-.02c-1.83 0-2.94.67-3.48 1.12-.55-.45-1.66-1.12-3.49-1.12h-.02c-1.83 0-2.94.67-3.48 1.12-.55-.45-1.66-1.12-3.49-1.12h-.02c-.73 0-1.35.09-1.83.25z'/%3E%3C/svg%3E");
	/*background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6Izk5Q0NGRjtzdHJva2U6IzNDM0MzQztzdHJva2Utd2lkdGg6MC40O3N0cm9rZS1taXRlcmxpbWl0OjEwO30uc3Qxe2ZpbGw6bm9uZTt9PC9zdHlsZT48cGF0aCBpZD0ibmllZGVyc2NobGFnXzNfIiBjbGFzcz0ic3QwIiBkPSJNNy43OSw3LjZDNy41NCw5LjI0LDYuMTgsOS45NSw0LjcyLDkuODJDMy41MSw5LjY0LDIuNyw4LjQ5LDIuOSw3LjI5YzAuMTEtMC42OCwwLjUzLTEuMjYsMS4xLTEuNThjMS4zNC0wLjcsMi4yNi0xLjk3LDIuNTMtMy40M2MwLjAzLTAuMTgsMC4yLTAuMywwLjM5LTAuMjdDNy4wNywyLjAzLDcuMTYsMi4xNCw3LjIsMi4yOUM3LjUyLDQuMTgsNy45MSw2LjcyLDcuNzksNy42eiIvPjxwYXRoIGlkPSJuaWVkZXJzY2hsYWdfMl8iIGNsYXNzPSJzdDAiIGQ9Ik0xMy4zNywxMS4wM2MtMC4zOSwyLjY2LTIuNiwzLjgyLTQuOTYsMy42Yy0xLjkyLTAuMzItMy4yNC0yLjE0LTIuOTEtNC4wOGMwLjE5LTEuMDgsMC44My0yLjAyLDEuNzktMi41NGMyLjE0LTEuMTMsMy42My0zLjE5LDQuMDctNS41NWMwLjA1LTAuMzEsMC4zMi0wLjQ4LDAuNjItMC40M2MwLjIyLDAuMDUsMC4zOSwwLjIyLDAuNDMsMC40M0MxMi45NCw1LjUzLDEzLjU4LDkuNjEsMTMuMzcsMTEuMDN6Ii8+PHJlY3QgeT0iLTAuMDgiIGNsYXNzPSJzdDEiIHdpZHRoPSIxNS45MiIgaGVpZ2h0PSIxNiIvPjwvc3ZnPg=="); */
}

/* copied from wetteronline */

.temp--100,
.temp--20,
.temp--21,
.temp--22,
.temp--23,
.temp--24,
.temp--25,
.temp--26,
.temp--27,
.temp--28,
.temp--29,
.temp--30,
.temp--31,
.temp--32,
.temp--33,
.temp--34,
.temp--35,
.temp--36,
.temp--37,
.temp--38,
.temp--39,
.temp--40,
.temp--41,
.temp--42,
.temp--43,
.temp--44,
.temp--45,
.temp--46,
.temp--47,
.temp--48,
.temp--49,
.temp--50,
.temp--51,
.temp--52,
.temp--53,
.temp--54,
.temp--55,
.temp--56,
.temp--57,
.temp--58,
.temp--59,
.temp--60,
.temp--61,
.temp--62,
.temp--63,
.temp--64,
.temp--65,
.temp--66,
.temp--67,
.temp--68,
.temp--69,
.temp--70,
.temp--71,
.temp--72,
.temp--73,
.temp--74,
.temp--75,
.temp--76,
.temp--77,
.temp--78,
.temp--79,
.temp--80,
.temp--81,
.temp--82,
.temp--83,
.temp--84,
.temp--85,
.temp--86,
.temp--87,
.temp--88,
.temp--89,
.temp--90,
.temp--91,
.temp--92,
.temp--93,
.temp--94,
.temp--95,
.temp--96,
.temp--97,
.temp--98,
.temp--99 {
	color: #4e00b1
}

.temp--10,
.temp--11,
.temp--12,
.temp--13,
.temp--14,
.temp--15,
.temp--16,
.temp--17,
.temp--18,
.temp--19 {
	color: #0053d4
}

.temp--1,
.temp--2,
.temp--3,
.temp--4,
.temp--5,
.temp--6,
.temp--7,
.temp--8,
.temp--9,
.temp-0 {
	color: #359aff
}

.temp-1,
.temp-10,
.temp-11,
.temp-12,
.temp-13,
.temp-14,
.temp-2,
.temp-3,
.temp-4,
.temp-5,
.temp-6,
.temp-7,
.temp-8,
.temp-9 {
	color: #0b0
}

.temp-15,
.temp-16,
.temp-17,
.temp-18,
.temp-19 {
	color: #f80
}

.temp-20,
.temp-21,
.temp-22,
.temp-23,
.temp-24 {
	color: #ff5900
}

.temp-25,
.temp-26,
.temp-27,
.temp-28,
.temp-29,
.temp-30,
.temp-31,
.temp-32,
.temp-33,
.temp-34 {
	color: red
}

.temp-35,
.temp-36,
.temp-37,
.temp-38,
.temp-39,
.temp-40,
.temp-41,
.temp-42,
.temp-43,
.temp-44,
.temp-45,
.temp-46,
.temp-47,
.temp-48,
.temp-49,
.temp-50,
.temp-51,
.temp-52,
.temp-53,
.temp-54,
.temp-55,
.temp-56,
.temp-57,
.temp-58,
.temp-59,
.temp-60,
.temp-61,
.temp-62,
.temp-63,
.temp-64,
.temp-65,
.temp-66,
.temp-67,
.temp-68,
.temp-69,
.temp-70,
.temp-71,
.temp-72,
.temp-73,
.temp-74,
.temp-75,
.temp-76,
.temp-77,
.temp-78,
.temp-79,
.temp-80,
.temp-81,
.temp-82,
.temp-83,
.temp-84,
.temp-85,
.temp-86,
.temp-87,
.temp-88,
.temp-89 {
	color: #d00
}
